   <style type="text/css">
      .map {
        height: 100px;
        width: 100%;
      }
      .logo{
      height: 5px;
        width: 10px;      
      }
      .map-container{
      height: 100px;
        width: 100%;
      }
	  
     .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        width: 225px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "×";
      }
     .navbar-simple .brand {
 	padding-top: 0px;
	padding-bottom: 0px;
	}
	.navbar-simple .navbar-inner {
	background: #fff;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	.navbar-simple .navbar-inner .nav {
	float: right;
	}
	.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
	}
	.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bf3604;
	}		
	.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
	}
	.row{
    margin-left:0px;
    margin-right:0px;
	}
	iframe{
            position:absolute;
            height:60%;
            width:100%;
            top:300px;
            left:0px;
    }
      .form-control{
    margin-left:0px;
    margin-right:0px;
    margin-top: 15px;
    margin-bottom: 15px;
    width:80%;
	}
.control-label{
    margin-left:625px;
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 0px
    width:100%;
	}
.btn{
    margin-left:0px;
    margin-right:0px;
    margin-top: 15px;
    margin-bottom: 15px;
	}
.leaflet-control-measure {
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	}

.leaflet-bar-part-top-and-bottom {
	-webkit-border-radius: 4px 4px 4px 4px;
	        border-radius: 4px 4px 4px 4px;
	border-bottom: none;
	}

.leaflet-touch .leaflet-bar-part-top-and-bottom {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
	}

.leaflet-control-measure-on .leaflet-control-measure {
	box-shadow: 0 0 8px rgba(10,10,10,1.0);
	}

.leaflet-measure-tooltip {
	font: 9px/1.25 "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #BBB;
	margin: 0;
	padding: 2px;
	width: auto !important;
	height: auto !important;
	white-space: nowrap;
	}

.leaflet-measure-tooltip-total {
	font-weight: bold;
	}

.leaflet-measure-tooltip-difference {
	color: #777;
	}
</style>